<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AuthorizationFilter</filter-name>
  	<display-name>AuthorizationFilter</display-name>
  	<description></description>
  	<filter-class>authorizationFilter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthorizationFilter</filter-name>
  	<servlet-name>AuthorizationServlet</servlet-name>
  </filter-mapping>
  <servlet>
  	<servlet-name>AuthorizationServlet</servlet-name>
  	<display-name>AuthorizationServlet</display-name>
  	<description></description>
  	<servlet-class>authorizationServlet.AuthorizationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveSessionServlet</servlet-name>
  	<display-name>RemoveSessionServlet</display-name>
  	<description></description>
  	<servlet-class>removeSessionServlet.RemoveSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AuthorizationServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveSessionServlet</servlet-name>
  	<url-pattern>/RemoveSessionServlet</url-pattern>
  </servlet-mapping>
</web-app>
 
